*{
  margin:0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: white;
  font-family: "gill-sans-nova", sans-serif , 'Zen Old Mincho', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #313B50;
	}

  /* ローディング画面

  .loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 555;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }*/

  #loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

h2 {
  font-weight: normal;
  font-size: 35px;
}

h3 {
  font-weight: normal;
  font-size: 25px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: none;
  letter-spacing: 1px;
  color: #313B50;
  z-index: 999;
}

header a:link {
  color: #313B50;
}

#top {
  position: absolute;
  width: 100px;
  top: 1.5rem;
  left: 2rem;
}

#main {
	width:75%;
  height:auto;
  margin-top: 6rem;
}

#MenuButton {
  display: none;
}

#MenuList {
  position: absolute;
  top: 1rem;
  right: 2rem;
  width: auto;
}

  #MenuList ul {
    font-size: 15px;
    display: flex;
    flex-direction:row;
    margin-top: 10px;
  }

  #MenuList li {
    width: auto;
    padding: 0 1em;
    border-bottom: none;
  }

  #MenuList a {
    color: #313B50;
  }

  #top_home {
    margin-top: 7rem;
    margin-bottom: 3rem;
  }

  #top_home img{
    width: 13%;
  }

  /*

    #MenuList_hom ul {
      display: flex;
      flex-direction:row;
      width: 50%;
      margin: auto;
      margin-top: 10px;
      background-color: #aaa;
    }

    */

      #MenuList_home ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 20px;
      }

    #MenuList_home li {
      width: auto;
      padding: 0 1em;
      border-bottom: none;
    }

    #MenuList_home a {
      letter-spacing: 1px;
      color: #313B50;
    }

  #wrapper {
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
  }

    #home_text {
    margin-top: 0rem;
    padding-top: 8rem;
    letter-spacing: 2px;
    line-height: 40px;
    }

    #home_text h1 {
    margin-bottom: 2rem;
    font-size: 20px;
    }

    #home_text p {
    font-size: 13px;
    }

  section {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10rem;
    margin-bottom: 20rem;
    height: auto;
    background-color: inherit;
    padding-top: 12rem;
  }

  section h1 {
    margin-bottom: 10rem;
    letter-spacing: 2px;
    font-weight: normal;
  }

  #pattern {
    margin: auto;
    max-width: 1120px;
  }

  #pattern h1 {
    font-size: 30px;
    line-height: 200%;
  }

  #pattern p {
    font-size: 13px;
    line-height: 200%;
    margin-bottom: 50px;
  }

  #home_pattern p {
    font-size: 16px;
    text-align: center;
  }

  /* SOUND */

  .video-wrap {
    position: relative;
}
.video-btn {
    content: "";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:40px; /*コントローラー分下部に余白を*/
    cursor: pointer;
}

  .imglist_cards {
    overflow: hidden;
    display: flex;
  }

  .imglist_cards img {
    width: 100%;
    height: auto;
  }

  .imgcard {
    overflow: hidden;
    margin-right: 32px;
    position: relative;
  }

  .imglist_cards_auto {
    overflow: hidden;
    display: flex;
  }

  .imgcard_size:first-of-type {
    flex-shrink: 1.2;
  }

  .imgcard_size {
    margin-bottom: 80px;
    margin-right: 32px;
    position: relative;
}

  .imgcard_size img {
    max-width: 1120px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .imgcard_shape {
    margin-bottom: 50px;
    margin-right: 50px;
  }

  .imgcard_shape p {
    margin-top: 15px;
    font-size: 8px;
    letter-spacing: 0.5px;
  }

  .imgcard_right {
    margin-right: 0;
  }



  footer .foot-wrap {
    margin-top: 250px;
    padding: 40px;
    letter-spacing: 1px;
    color: #313B50;
  }

  .menu-left ul {
    position: absolute;
    font-size: 15px;
    display: flex;
    flex-direction:row;
    margin-top: 1rem;;
  }

  .menu-left li {
    margin-right: 2em;
  }

  footer a:visited {
    color: #313B50;
  }

  footer a:link {
    color: #313B50;
  }

  footer a:hover {
    color: steelblue;
  }

  .copyright {
    text-align: right;
    margin-top: 1.1rem;
  }

  .copyright_home {
    text-align: center;
    margin-top: 50px;
    padding: 40px;
    letter-spacing: 1px;
    color: #313B50;
  }

  #bottom_logo {
    width:100px;
  }

@media only screen and (max-width: 768px) {

  #MenuButton {
    display: block;
    position: absolute;
    top: 1.2rem;
    right: 2rem;
  }

    .MenuButtonLine {
      position: relative;
      display: block;
      height: 2px;
      width: 30px;
      background: #313B50;
      transition: ease .5s;
    }

    .MenuButtonLine:nth-child(1) {
        top: 0;
    }
    .MenuButtonLine:nth-child(2) {
        margin: 8px 0;
    }
    .MenuButtonLine:nth-child(3) {
        top: 0;
    }

    #MenuButton.open .MenuButtonLine:nth-child(1) {
      top: 10px;
      transform: rotate(135deg);
    }

    #MenuButton.open .MenuButtonLine:nth-child(2) {
      transform: translateY(-50%);
      opacity: 0;
    }

    #MenuButton.open .MenuButtonLine:nth-child(3) {
      top: -10px;
      transform: rotate(-135deg);
    }

  #MenuList {  /* Default Display None */
    display: none;

    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
  }

    #MenuList ul {
      flex-direction: column;
    }

    #MenuList li {
      width: 100%;
      padding: 0;
      border-bottom: 1px solid #313B50;
    }

    #MenuList a {
      display: block;
      width: 100%;
      padding: 0.8rem 2rem;
    }

    h1 {
      font-weight: normal;
      font-size: 25px;
    }

    h2 {
      font-weight: normal;
      font-size: 20px;
    }

    h3 {
      font-weight: normal;
      font-size: 15px;
    }

    #wrapper {
      margin-top: 5rem;
      margin-left: 3rem;
      margin-right: 3rem;
    }

    p,figure {
    margin-bottom: 0;
    text-align: left;
  }

  figure.side_image {
    display: inline-block;
  }

  p.side_text {
    display: inline-block;
    width: 300px;
    margin-left: 20px;
    vertical-align: top;
  }

  div.parent_box {
    display:flex;
  flex-flow: column;
  }

  .foot-wrap .menu-left, .menu-center, .menu-right {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .foot-wrap .cpr {
        display: inline;
    }

}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */

  #pattern h1 {
    padding-top: 5rem;
    font-size: 18px;
  }

  h2 {
    font-weight: normal;
    font-size: 18px;
  }

  h3 {
    font-weight: normal;
    font-size: 14px;
  }

  p {
    font-weight: normal;
    font-size: 10px;
  }

  #wrapper {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  #top_home {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  #top_home img{
    width: 20%;
  }

  #MenuList_home ul{
    font-size: 12px;
  }

  #main {
    margin-top: 4rem;
  }

  #home_text {
    margin: 2rem;
    margin-top: 0rem;
    padding-top: 3rem;
    letter-spacing: 2px;
    line-height: 25px;
  }

  #home_text h1 {
  margin-bottom: 2rem;
  font-size: 12px;
  font-weight: normal;
  }

  #home_text p {
  font-size: 10px;
  font-weight: normal;
  line-height: 200%;
  }

  section {
    padding: 10px;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  section h1 {
  margin-bottom: 5rem;
  font-size: 15px;
  }

  .imgcard {
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .imgcard_size {
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .imgcard_right {
    margin-right: 0;
  }

  .menu-left ul {
    display: none;
  }

  .foot-wrap img {
    display: none;
  }

  footer .foot-wrap {
  margin-top: 50px;
  }

  .copyright {
    text-align: center;
  }

  .parent_box {
    text-align: center;
  }

  .foot-wrap .menu-left, .menu-right {
      display: inline-block;
      padding: 10px;
      margin-left: 0;
      font-size: 18px;
  }

}
